#mainBody06style {
    width: 960px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2),
        -1px -1px 1px rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;
}

#mainBody06style #mainBodyTop {
    margin: 30px;
    width: 900px;
    height: 450px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid rgb(237, 237, 239);
    box-sizing: border-box;
}

#mainBody06style #mBtopPic {
    background-color: rgb(214, 214, 218);
    cursor: pointer;
}

#mainBody06style #mBtopCharacter {
    color: rgb(68, 68, 68);
    height: 320px;
    line-height: 320px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    /*writing-mode: vertical-lr;*/
    text-align: center;
}

#mainBody06style #mainBodyLabels {
    margin-right: 255px;
    margin-left: 30px;
    width: 675px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainBody06style .mainBodyLabel {
    width: 112px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

#mainBody06style .mainBodyLabel:hover {
    font-weight: bold;
}

#mainBody06style #mainBodyContent {
    margin: 30px;
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainBody06style .contentItem {
    width: 435px;
    height: 330px;
    border: 2px solid rgb(237, 237, 239);
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: grid;
    grid-template-rows: 5fr 1fr;
    box-sizing: border-box;
}

#mainBody06style .contentItemPic {
    background-color: rgb(237, 237, 239);
    transition: background-color 0.3s;
}

#mainBody06style .contentItemPic:hover {
    background-color: rgb(214, 214, 218);
    transition: background-color 0.3s;
}

#mainBody06style .contentItemCharacter {
    height: 55px;
    line-height: 55px;
    font-size: 15px;
    color: rgb(146, 148, 146);
    margin-left: 20px;
}