#mainBody02topic {
    width: 960px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2),
        -1px -1px 1px rgba(128, 128, 128, 0.2);
}

#mainBody02topic #topLabel {
    margin: 30px;
    height: 55px;
}

#mainBody02topic #labels {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#mainBody02topic .label {
    margin: 2.5px 15px;
    width: 120px;
    height: 36px;
    background-color: rgb(236, 236, 238);
    text-align: center;
}

#mainBody02topic .labelContent {
    color: rgb(85, 85, 85);
    font-size: 17px;
    font-weight: bold;
    padding: 6.2px;
    cursor: pointer;
}

#mainBody02topic #mainContent {
    margin: 30px;
    margin-top: 5px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#mainBody02topic #mainContentLeft {
    display: flex;
    flex-direction: column;
}

#mainBody02topic #mainContentRight {
    display: flex;
    flex-direction: column;
}

#mainBody02topic .item {
    margin: 10px 15px;
    width: 420px;
    height: auto;
    border: 1.5px solid rgb(237, 237, 239);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

#mainBody02topic .itemTitle {
    margin: 20px 19px 0px 19px;
    width: 380px;
    height: 30px;
    font-weight: bold;
    color: rgb(68, 68, 68)
}

#mainBody02topic .itemJoinNumber {
    margin: 10px 19px 0px 19px;
    width: 380px;
    height: 20px;
    font-size: 12px;
    color: rgb(175, 175, 175)
}

#mainBody02topic .pictures {
    margin: 20px 19px;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainBody02topic .picture {
    display: inline-block;
    width: 124.6px;
    height: 124.6px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-color: rgb(175, 175, 175);
    cursor: pointer;
    transition: filter 0.3s;
}

#mainBody02topic .picture:hover {
    filter: brightness(90%);
    transition: filter 0.3s;
}