* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededef;
}

#totalBody {
    display: flex;
    flex-direction: column;
}

#topBar {
    position: sticky;
    top: 0px;
    height: 64px;
    background-color: #1f1f1f;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#topBarl {
    display: flex;
}

#topBarll {
    width: 670px;
    margin: 12px auto;
    margin-right: 20px;
    /*background-color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
}

#barIcons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.barIcon {
    position: relative;
    font-weight: bold;
}

.barIcon a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-decoration: none;
    color: #8a8a8a;
}

.barIcon a:hover {
    color: rgb(255, 255, 255);
}

.barIcon img:hover {
    filter: brightness(200%);
}

.barIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#logo img {
    display: block;
    height: 36px;
    margin-left: 10px;
}

#lofter {
    color: rgb(255, 255, 255);
    margin-left: 2px;
    font-size: 30px;
    font-weight: thin;
}

#search {
    position: relative;
}

#search input[type=text] {
    float: right;
    width: 80%;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    margin-top: 4px;
    border: 4px solid transparent;
    border-radius: 26px;
    outline: none;
}

/*#search img {
    position: absolute;
    height: 18px;
    left: 2px;
    margin-top: 10px;
}*/

#topBarr {
    display: flex;
}

#topBarrr {
    width: 260px;
    margin: 12px auto;
    margin-left: 20px;
    /*background-color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#nav {
    height: 85px;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: 0px 1.5px 2px rgba(128, 128, 128, 0.4);
}

#navBar {
    height: 85px;
    width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navBarIcon {
    display: block;
    position: relative;
}

.navBarIcon div {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.75px;
    color: #1f1f1f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navBarIcon:hover {
    border-bottom: 4px solid rgb(154, 198, 0);
}

#mainBody {
    width: 950px;
    height: auto;
    margin: 0 auto;
}

#container {
    column-count: 3;
    column-gap: 0px;

}

.item {
    padding: 10px;

}

.itemContent {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    box-shadow: 1.5px 1.5px 2px rgba(128, 128, 128, 0.2),
        -1.5px -1.5px 2px rgba(128, 128, 128, 0.2);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
}

.itemContentTop {
    border-top: 2px solid transparent;
    border-radius: 5px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    display: flex;
}

.itemContentTopName {
    cursor: pointer;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin: auto;
    margin-left: 15px;
}

input[type=button] {
    width: 55px;
    height: 30px;
    display: block;
    margin: auto;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: transparent;
    border: 1px solid rgb(154, 198, 0);
    border-radius: 2px;
    color: rgb(154, 198, 0);
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}

.itemContent img {
    border-top: 2px groove;
    border-top-color: rgb(255, 255, 255, 0.3);
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.itemContentArticle {
    height: 100px;
    background-color: rgb(253, 253, 253);
    border-top: 2px groove;
    border-top-color: rgb(255, 255, 255, 0.55);
}

.itemContentBottom {
    height: 50px;
    background-color: rgb(253, 253, 253);
    display: flex;
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1.5px groove;
    border-top-color: rgb(255, 255, 255, 0.55);
}

.itemContentBottom img {
    width: 25px;
    margin: auto;
    margin-left: 15px;
    margin-right: 8px;
    cursor: pointer;
}

.itemContentBottomLike {
    margin: auto;
    margin-left: 5px;
    color: #bfbfbf;
    font-size: 15px;
}