* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededef;
}

#totalBody {
    display: flex;
    flex-direction: column;
}

#topBar {
    position: sticky;
    top: 0px;
    height: 64px;
    background-color: #1f1f1f;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#topBarl {
    display: flex;
}

#topBarll {
    width: 670px;
    margin: 12px auto;
    margin-right: 20px;
    /*background-color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
}

#barIcons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.barIcon {
    position: relative;
    font-weight: bold;
}

.barIcon a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    text-decoration: none;
    color: #8a8a8a;
}

.barIcon a:hover {
    color: rgb(255, 255, 255);
}

.barIcon img:hover {
    filter: brightness(200%);
}

.barIcon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
}

#logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#logo img {
    display: block;
    height: 36px;
    margin-left: 10px;
}

#lofter {
    color: rgb(255, 255, 255);
    margin-left: 2px;
    font-size: 30px;
    font-weight: thin;
}

#search {
    position: relative;
}

#search input[type=text] {
    float: right;
    width: 80%;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    margin-top: 4px;
    border: 4px solid transparent;
    border-radius: 26px;
    outline: none;
}

/*#search img {
    position: absolute;
    height: 18px;
    left: 2px;
    margin-top: 10px;
}*/

#topBarr {
    display: flex;
}

#topBarrr {
    width: 260px;
    margin: 12px auto;
    margin-left: 20px;
    /*background-color: rgb(255, 255, 255);*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#nav {
    height: 85px;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: 0px 1.5px 2px rgba(128, 128, 128, 0.4);
}

#navBar {
    height: 85px;
    width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.navBarIcon {
    display: block;
    position: relative;
}

.navBarIcon div {
    position: absolute;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1.75px;
    color: #1f1f1f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navBarIcon:hover {
    border-bottom: 4px solid rgb(154, 198, 0);
}

#mainBody {
    width: 960px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2),
        -1px -1px 1px rgba(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;
}

#mainBodyTop {
    margin: 30px;
    width: 900px;
    height: 450px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 2px solid rgb(237, 237, 239);
    box-sizing: border-box;
}

#mBtopPic {
    background-color: rgb(214, 214, 218);
    cursor: pointer;
}

#mBtopCharacter {
    color: rgb(68, 68, 68);
    height: 320px;
    line-height: 320px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    /*writing-mode: vertical-lr;*/
    text-align: center;
}

#mainBodyLabels {
    margin-left: 30px;
    margin-right: 255px;
    width: 675px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainBodyLabel {
    height: 40px;
    width: 112px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.mainBodyLabel:hover {
    font-weight: bold;
}

#mainBodyContent {
    margin: 30px;
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentItem {
    width: 435px;
    height: 330px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 2px solid rgb(237, 237, 239);
    display: grid;
    grid-template-rows: 5fr 1fr;
    box-sizing: border-box;
}

.contentItemPic {
    background-color: rgb(237, 237, 239);
}

.contentItemPic:hover {
    background-color: rgb(214, 214, 218);
}

.contentItemCharacter {
    height: 55px;
    margin-left: 20px;
    line-height: 55px;
    font-size: 15px;
    color: rgb(146, 148, 146)
}