#mainBody01trend {
    width: 950px;
    height: auto;
    margin: 0 auto;
}

#mainBody01trend #container {
    column-count: 3;
    column-gap: 0px;
}

#mainBody01trend .item {
    padding: 10px;
}

#mainBody01trend .itemContent {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    box-shadow: 1.5px 1.5px 2px rgba(128, 128, 128, 0.2),
        -1.5px -1.5px 2px rgba(128, 128, 128, 0.2);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
}

#mainBody01trend .itemContentTop {
    border-top: 2px solid transparent;
    border-radius: 5px;
    height: 50px;
    background-color: rgb(253, 253, 253);
    display: flex;
}

#mainBody01trend .itemContentTopName {
    cursor: pointer;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin: auto;
    margin-left: 15px;
}

#mainBody01trend input[type=button] {
    width: 55px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin: auto;
    font-size: 15px;
    letter-spacing: 3px;
    background-color: transparent;
    border: 1px solid rgb(154, 198, 0);
    border-radius: 2px;
    color: rgb(154, 198, 0);
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}

#mainBody01trend .itemContent img {
    border-top: 2px groove;
    border-top-color: rgb(255, 255, 255, 0.3);
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#mainBody01trend .itemContentArticle {
    min-height: 30px;
    padding: 10px;
    font-size: 14px;
    color: rgb(102, 102, 102);
    background-color: rgb(253, 253, 253);
    border-top: 2px groove;
    border-top-color: rgb(255, 255, 255, 0.55);
}

#mainBody01trend .itemContentBottom {
    height: 45px;
    background-color: rgb(253, 253, 253);
    display: flex;
    border-bottom: 2px solid transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px groove;
    border-top-color: rgb(255, 255, 255, 0.55);
}

#mainBody01trend .itemContentBottom img {
    width: 20px;
    margin: auto;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer;
}

#mainBody01trend .itemContentBottomLike {
    margin: auto;
    margin-left: 5px;
    color: #bfbfbf;
    font-size: 14px;
}