#mainBody03label {
    width: 960px;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.2),
        -1px -1px 1px rgba(128, 128, 128, 0.2);
}

#mainBody03label #mainBodyTop {
    margin: 30px;
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainBody03label .topItem {
    width: 170px;
    height: 170px;
    margin-bottom: 12px;
    background-color: rgb(237, 237, 239);
    cursor: pointer;
    position: relative;
    transition: filter 0.3s;
}

#mainBody03label .topItem:hover {
    filter: brightness(90%);
    transition: filter 0.3s;
}

#mainBody03label .topItemLabel {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 6px;
    width: auto;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: rgb(7, 7, 7);
    color: rgb(211, 211, 211);
    border-radius: 3px;
    opacity: 0.8;
}

#mainBody03label #mainBodyRecommend {
    width: 960px;
    height: auto;
}

#mainBody03label #recommendTop {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    color: rgb(136, 136, 136);
}

#mainBody03label #recommendTop div {
    margin: auto;
    margin-left: 30px;
}

#mainBody03label #recommendTop,
#mainBody03label .recommendItem {
    width: 960px;
    height: 40px;
    border-bottom: 2px groove;
    border-color: rgb(255, 255, 255, 0.55);
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

#mainBody03label .recommendItem:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

#mainBody03label .recommendItem:nth-child(even) {
    background-color: rgb(245, 245, 245);
}

#mainBody03label .recommendItem div {
    margin: auto;
    margin-left: 30px;
}

#mainBody03label .recommendItemLabelName {
    font-weight: bold;
    font-size: 15px;
    color: rgb(68, 68, 68);
}

#mainBody03label .recommendItemUser {
    font-size: 13px;
    color: rgb(136, 136, 136);
}